<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anderec</title>


    <style>
        .Site {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
        margin:0;
    }

        .centrodiv {
            display: flex;
            justify-content: center;
        }

        .hijo {
            padding: 10px;
            margin: 10px;
            background-color: #2c39ff;
}
    </style>
    
</head>
<body class="Site">
    <section class="is-fullwidth" style="background-color:#2c39ff; height: 10%;">
        <div class="centrodiv" style="padding:10px">
            <img src="static/img/andelogo.png" width="80" height="60">

        </div>
    
    </section>
    <div class="centrodiv">
        <div class="hijo" style="color: white; font-family:Arial, 'Helvetica', sans-serif ;">home</div>
        <div class="hijo" style="color: white; font-family:Arial, 'Helvetica', sans-serif ;">reclamos</div>


    </div>
</body>
</html>